html{
    font-size: 16px;
}

.cima{

    display: flex;

    width:  90%;
    margin: 0 auto;;

    background-color: rgba(255, 255, 255, 0.9);

    padding: auto;
    justify-content: space-between;
    padding: 1.0em;
    gap: 1rem; 
    border-radius: 2.5em;
    border: rgb(93, 180, 238) 0.2rem;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.2), 
                        inset -4px -4px 6px rgb(132, 204, 252, 0.8);

    position: sticky;
    z-index: 9999;
    top: 0;
}
.logo-cima{
    height: 5rem;
    font-size: 0.8rem;

    display: flex;
    justify-content: space-between;
}   

.logo h2{
    color: rgb(36, 38, 155)
}

.botao-cima {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem;
    gap: 2rem;

    margin-right: 5rem;
}
.botao a, a.home, a.about, a.cursos, a.noti-gale, a.doe, a.contato {
    text-decoration: none !important;
    color: black;
}

a.home {
    color: aqua !important;
}

.redes-sociais{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 5rem;

    background-color: rgba(255, 255, 255, 0.9);


    display: flex;
    flex-direction: column;
    margin-left: 93%;
    margin-top:9rem;

    border-radius: 2.5em;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.2), 
                        inset -4px -4px 6px rgb(132, 204, 252, 0.8);

    position: fixed;
     z-index: 9999;
        
}

.parte2{
    position: relative;
}

.parte2 img{

    height: 30rem;
    width: 70rem;

    border-radius: 1.5rem;
    margin-top: 7rem;
    margin-left: 5rem;

}

.parte2-informacoes{
    background-image:url(./img/fundo-inf-parte2.png) ;

    height: 35rem;
    width: 35rem;

    position: absolute;
    margin-left: 50rem;
    margin-top: -33rem;

    border-radius: 1.5rem;

    font-size: 1.5rem;

    justify-items: center;
    color: white;
}

.parte2-informacoes h2, .parte2-informacoes h3, .parte2-informacoes h4{
    color: rgb(211, 167, 24) !important

}

.parte2-informacoes ul{
    margin-top: 4.7rem;
}

.parte2-informacoes h3{
    margin-top: 3rem;
}

.parte2-informacoes .t1{
    margin-right: 7rem;
}

.parte2-informacoes .t2{
    margin-left: 7rem;
}

.parte3{
    background-image: url(./img/fundo\ da\ parte3.png);
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 17rem;

    margin-top: 7rem;
}

.parte3-cima{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;

    padding: 1rem;

    width: 100%;
    height: 1rem;

    color: white;
}

.parte3-baixo{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 15rem;

    margin-top: 1rem;
}

.parte3-baixo img{
    height: 4rem;
    width: 4rem;
}

.parte3-baixo h2{
    color: white;
    font-size: 2.5rem;
    margin-top: 0.5rem;
}

.parte3-baixo h5{
    color: white;
    font-size: 1rem;

    margin-top: -2rem;
}

.parte3-baixo .alunos-formados, .familias-beneficiadas, .jovens-empregados, .jovens-atendidos, .empresas-beneficiadas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---------------------- -Noticias e galeria ---------------*/

.parte4{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.parte4 h2{
    font-size: 4rem;
    color:rgb(19, 121, 189);
}
.p4p{

    padding: 0.5rem;
    font-size: 1.3rem;
    width: 55rem;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.f1{
    display: flex;
    justify-content:space-around;
}